.date-range-display {
    margin-top: 8px;
    display: block;
    font-size: 14px;
    color: #555;
}



.date-picker-container {
    display: flex;
    align-items: center;
    color: rgb(218, 158, 80);
}

.date-picker-container > *:not(:last-child) {
    margin-right: 8px; /* Add right margin between child elements (DatePickers) */
  }

  .custom-datepicker-input {
    color: #333; /* Text color */
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Border radius */
    padding: 8px; /* Padding inside the input field */

  }

  div.date-picker-container .react-datepicker-wrapper .react-datepicker__input-container input {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
  }

  .status-in-progress {
    color: orange;
}

.status-done {
    color: green;
}

.status-on-hold {
    color: red;
}
